.headerWrapper {
  padding:16px 32px;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  flex-direction: column;
  margin:0 auto;
}

.footerWrapper {
  padding:16px 32px;
}
